<app-navbar></app-navbar>
<div class="main-content app-content">
  <div *ngIf="fullpageloader" class="full-page-loader">
    <div class="loader-spinner"></div>
  </div>
  <div class="">
    <!-- Start::row-1 -->
    <div class="row">
      <div class="col-xl-12">
        <div class="card custom-card">
          <div class="card-header">
            <div class="card-title">Create Plot Booking</div>
          </div>
          <form (ngSubmit)="onSubmit()" #plotbookingForm="ngForm">
            <div class="card-body">
              <div class="row gy-3">
                <div class="container mt-4">
                  <!-- Tabs -->
                  <ul class="nav nav-tabs" id="propertyTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button
                        class="nav-link active"
                        id="overview-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#overview"
                        type="button"
                      >
                        Personal Info
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button
                        class="nav-link"
                        id="reference-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#reference"
                        type="button"
                      >
                        Reference Details
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button
                        class="nav-link"
                        id="nominee-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#nominee"
                        type="button"
                      >
                        Nominee Details
                      </button>
                    </li>

                    <li class="nav-item" role="presentation">
                      <button
                        class="nav-link"
                        id="project-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#project"
                        type="button"
                      >
                        Project Details
                      </button>
                    </li>

                    <li class="nav-item" role="presentation">
                      <button
                        class="nav-link"
                        id="booking-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#booking"
                        type="button"
                      >
                        Booking Details
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button
                        class="nav-link"
                        id="other-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#other"
                        type="button"
                      >
                        Other Details
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button
                        class="nav-link"
                        id="document-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#document"
                        type="button"
                      >
                        Documents Upload
                      </button>
                    </li>
                  </ul>

                  <!-- Tab Content -->
                  <div class="tab-content mt-3" id="propertyTabContent">
                    <div
                      class="tab-pane fade show active"
                      id="overview"
                      role="tabpanel"
                    >
                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="customerName" class="form-label"
                            >Customer Name : <span class="red">*</span>
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            disabled=""
                            id="customerName"
                            name="customerName"
                            [(ngModel)]="addplotbookingreq.customerName"
                          />
                        </div>
                        <div class="col-xl-4">
                          <label for="bookingDate" class="form-label"
                            >Booking Date : <span class="red">*</span></label
                          >
                          <input
                            type="date"
                            class="form-control"
                            id="bookingDate"
                            name="bookingDate"
                            [(ngModel)]="addplotbookingreq.bookingDate"
                            *ngIf="addplotbookingreq.tokenAmount > 0"
                            disabled=""
                          />

                          <input
                            type="date"
                            class="form-control"
                            id="bookingDate"
                            name="bookingDate"
                            *ngIf="
                              addplotbookingreq.tokenAmount <= 0 ||
                              addplotbookingreq.tokenAmount == null
                            "
                            [(ngModel)]="addplotbookingreq.bookingDate"
                          />
                        </div>
                        <div class="col-xl-4">
                          <label for="occupation" class="form-label"
                            >Occupation : <span class="red">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="occupation"
                            name="occupation"
                            [(ngModel)]="addplotbookingreq.occupation"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="dateOfBirth" class="form-label">
                            Date Of Birth : <span class="red">*</span></label
                          >
                          <input
                            type="date"
                            class="form-control"
                            id="dateOfBirth"
                            name="dateOfBirth"
                            [(ngModel)]="addplotbookingreq.dateOfBirth"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="anniversary" class="form-label"
                            >Anniversary :</label
                          >
                          <input
                            type="date"
                            class="form-control"
                            id="anniversary"
                            name="anniversary"
                            [(ngModel)]="addplotbookingreq.anniversary"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="contactNo1" class="form-label"
                            >Mobile No : <span class="red">*</span></label
                          >
                          <input
                            type="number"
                            class="form-control"
                            id="contactNo1"
                            name="contactNo1"
                            disabled=""
                            [(ngModel)]="addplotbookingreq.contactNo1"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="contactNo2" class="form-label"
                            >Alternate Mobile No :
                          </label>
                          <input
                            type="number"
                            class="form-control"
                            id="contactNo2"
                            name="contactNo2"
                            (input)="onMobileInput($event, 'contactNo2')"
                            [(ngModel)]="addplotbookingreq.contactNo2"
                          />
                          <small
                            *ngIf="
                              addplotbookingreq.contactNo2 &&
                              !isValidMobileNo(addplotbookingreq.contactNo2)
                            "
                            class="text-danger"
                          >
                            Mobile must be 10 digits and start with 6-9
                          </small>
                        </div>

                        <div class="col-xl-4">
                          <label for="postalAddress" class="form-label"
                            >Postal Address : <span class="red">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="postalAddress"
                            name="postalAddress"
                            [(ngModel)]="addplotbookingreq.postalAddress"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="emailAddress" class="form-label"
                            >Email Address : <span class="red">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="emailAddress"
                            name="emailAddress"
                            disabled=""
                            [(ngModel)]="addplotbookingreq.emailAddress"
                          />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="state" class="form-label"
                            >State : <span class="red">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="state"
                            name="state"
                            [(ngModel)]="addplotbookingreq.state"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="city" class="form-label"
                            >City : <span class="red">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="city"
                            name="city"
                            [(ngModel)]="addplotbookingreq.city"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="pinCode" class="form-label"
                            >PinCode : <span class="red">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="pinCode"
                            name="pinCode"
                            [(ngModel)]="addplotbookingreq.pinCode"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="reference" role="tabpanel">
                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="referenceName1" class="form-label"
                            >Name 1 :
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            id="referenceName1"
                            name="referenceName1"
                            [(ngModel)]="addplotbookingreq.referenceName1"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="referenceContact1" class="form-label"
                            >Contact No 1 :
                          </label>
                          <input
                            type="number"
                            class="form-control"
                            id="referenceContact1"
                            name="referenceContact1"
                            (input)="onMobileInput($event, 'referenceContact1')"
                            [(ngModel)]="addplotbookingreq.referenceContact1"
                          />
                          <small
                            *ngIf="
                              addplotbookingreq.referenceContact1 &&
                              !isValidMobileNo(
                                addplotbookingreq.referenceContact1
                              )
                            "
                            class="text-danger"
                          >
                            Mobile must be 10 digits and start with 6-9
                          </small>
                        </div>

                        <div class="col-xl-4">
                          <label for="referenceName2" class="form-label"
                            >Name 2 :
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            id="referenceName2"
                            name="referenceName2"
                            [(ngModel)]="addplotbookingreq.referenceName2"
                          />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="referenceContact2" class="form-label"
                            >Contact No. 2 :
                          </label>
                          <input
                            type="number"
                            class="form-control"
                            id="referenceContact2"
                            name="referenceContact2"
                            (input)="onMobileInput($event, 'referenceContact2')"
                            [(ngModel)]="addplotbookingreq.referenceContact2"
                          />
                          <small
                            *ngIf="
                              addplotbookingreq.contactNo1 &&
                              !isValidMobileNo(
                                addplotbookingreq.referenceContact2
                              )
                            "
                            class="text-danger"
                          >
                            Mobile must be 10 digits and start with 6-9
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="nominee" role="tabpanel">
                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="nomineeName" class="form-label"
                            >Nominee's Name : <span class="red">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="nomineeName"
                            name="nomineeName"
                            [(ngModel)]="addplotbookingreq.nomineeName"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="nomineeAddress" class="form-label"
                            >Address : <span class="red">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="nomineeAddress"
                            name="nomineeAddress"
                            [(ngModel)]="addplotbookingreq.nomineeAddress"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="nomineePhoneNo" class="form-label"
                            >Phone No. : <span class="red">*</span></label
                          >
                          <input
                            type="number"
                            class="form-control"
                            id="nomineePhoneNo"
                            name="nomineePhoneNo"
                            (input)="onMobileInput($event, 'nomineePhoneNo')"
                            [(ngModel)]="addplotbookingreq.nomineePhoneNo"
                          />
                          <small
                            *ngIf="
                              addplotbookingreq.nomineePhoneNo &&
                              !isValidMobileNo(addplotbookingreq.nomineePhoneNo)
                            "
                            class="text-danger"
                          >
                            Mobile must be 10 digits and start with 6-9
                          </small>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="nomineeRelation" class="form-label"
                            >Relation : <span class="red">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="nomineeRelation"
                            name="nomineeRelation"
                            [(ngModel)]="addplotbookingreq.nomineeRelation"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="nomineeAge" class="form-label"
                            >Age : <span class="red">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="nomineeAge"
                            name="nomineeAge"
                            [(ngModel)]="addplotbookingreq.nomineeAge"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="project" role="tabpanel">
                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="nomineeName" class="form-label"
                            >Project Name :</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="projectName"
                            name="projectName"
                            disabled=""
                            [(ngModel)]="addplotbookingreq.projectName"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="block" class="form-label"
                            >Block : <span class="red">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="block"
                            name="block"
                            [(ngModel)]="addplotbookingreq.block"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="plotCity" class="form-label"
                            >City : <span class="red">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="plotCity"
                            name="plotCity"
                            [(ngModel)]="addplotbookingreq.plotCity"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="khasraNo" class="form-label"
                            >Khasra No. : <span class="red">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="khasraNo"
                            name="khasraNo"
                            [(ngModel)]="addplotbookingreq.khasraNo"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="plotNo" class="form-label"
                            >Plot No.(s) :</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="plotNo"
                            name="plotNo"
                            disabled=""
                            [(ngModel)]="addplotbookingreq.plotNo"
                          />
                        </div>

                        <div class="col-xl-4" style="display: none">
                          <label for="plotSize" class="form-label"
                            >Size : <span class="red">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="plotSize"
                            name="plotSize"
                            [(ngModel)]="addplotbookingreq.plotSize"
                          />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="areaSqFt" class="form-label"
                            >Area (in square feet) :</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="areaSqFt"
                            name="areaSqFt"
                            disabled=""
                            [(ngModel)]="addplotbookingreq.areaSqFt"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="ratePerSqFt" class="form-label"
                            >Rate (Per Square Feet) :
                            <span class="red">*</span></label
                          >
                          <input
                            type="number"
                            class="form-control"
                            id="ratePerSqFt"
                            name="ratePerSqFt"
                            (input)="computeAllAmounts()"
                            [(ngModel)]="addplotbookingreq.ratePerSqFt"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="totalCost" class="form-label"
                            >Total Cost (In Rupees) :
                            <span class="red">*</span></label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="totalCost"
                            name="totalCost"
                            disabled=""
                            [(ngModel)]="addplotbookingreq.totalCost"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="booking" role="tabpanel">
                      <div class="row mb-3">
                        <!-- <div class="col-xl-4">
                          <label for="bookingDate" class="form-label"
                            >Booking Date :</label
                          >
                          <input
                            type="date"
                            class="form-control"
                            id="bookingDate"
                            name="bookingDate"
                            [(ngModel)]="addplotbookingreq.bookingDate"
                          />
                        </div> -->

                        <div class="col-xl-4">
                          <label for="tokenAmount" class="form-label"
                            >Token Amount :</label
                          >
                          <input
                            type="number"
                            class="form-control"
                            id="tokenAmount"
                            name="tokenAmount"
                            disabled=""
                            [(ngModel)]="addplotbookingreq.tokenAmount"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="downPaymentDate" class="form-label"
                            >Down Payment Date :</label
                          >
                          <input
                            type="date"
                            class="form-control"
                            id="downPaymentDate"
                            name="downPaymentDate"
                            [(ngModel)]="addplotbookingreq.downPaymentDate"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="khasraNo" class="form-label"
                            >Down Payment Amount :</label
                          >
                          <input
                            type="number"
                            class="form-control"
                            id="downPaymentAmount"
                            name="downPaymentAmount"
                            (input)="computeAllAmounts()"
                            [(ngModel)]="addplotbookingreq.downPaymentAmount"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="remainingAmount" class="form-label"
                            >Remaining Amount :</label
                          >
                          <input
                            type="number"
                            step="0.01"
                            class="form-control"
                            id="remainingAmount"
                            name="remainingAmount"
                            [(ngModel)]="addplotbookingreq.remainingAmount"
                            readonly
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="numberOfInstallments" class="form-label"
                            >Number of Installments :
                            <span
                              *ngIf="!isNumberOfInstallmentsDisabled()"
                              class="text-danger"
                              >*</span
                            >
                          </label>
                          <input
                            type="number"
                            class="form-control"
                            id="numberOfInstallments"
                            name="numberOfInstallments"
                            [disabled]="isNumberOfInstallmentsDisabled()"
                            [(ngModel)]="addplotbookingreq.numberOfInstallments"
                            (input)="computeAllAmounts()"
                          />
                          <small
                            *ngIf="isNumberOfInstallmentsDisabled()"
                            class="text-muted"
                          >
                            (Disabled: Remaining amount is 0)
                          </small>
                          <small
                            *ngIf="
                              !isNumberOfInstallmentsDisabled() &&
                              (!addplotbookingreq.numberOfInstallments ||
                                addplotbookingreq.numberOfInstallments <= 0)
                            "
                            class="text-danger"
                          >
                            Number of Installments is required
                          </small>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="emiAmount" class="form-label"
                            >EMI Amount :</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="emiAmount"
                            name="emiAmount"
                            [(ngModel)]="addplotbookingreq.emiAmount"
                            disabled=""
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="remarks" class="form-label"
                            >Remarks (if any) :</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="remarks"
                            name="remarks"
                            [(ngModel)]="addplotbookingreq.remarks"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="other" role="tabpanel">
                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="executiveId" class="form-label"
                            >Executive's Id :</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="executiveId"
                            name="executiveId"
                            [(ngModel)]="addplotbookingreq.executiveId"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="executiveName" class="form-label"
                            >Executive Name :</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="executiveName"
                            name="executiveName"
                            [(ngModel)]="addplotbookingreq.executiveName"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="executiveName" class="form-label"
                            >Executive Signature :</label
                          >
                          <input
                            type="file"
                            class="form-control"
                            id="executiveSignature"
                            name="executiveSignature"
                            (change)="
                              onFileChange($event, 'executiveSignature')
                            "
                            accept="image/*"
                            [(ngModel)]="addplotbookingreq.executiveSignature"
                          />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="purchaserName" class="form-label"
                            >Purchaser Name :</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="purchaserName"
                            name="purchaserName"
                            [(ngModel)]="addplotbookingreq.purchaserName"
                          />
                        </div>
                        <div class="col-xl-4">
                          <label for="purchaserSign" class="form-label"
                            >Purchaser Sign :</label
                          >
                          <input
                            type="file"
                            class="form-control"
                            id="purchaserSign"
                            name="purchaserSign"
                            (change)="onFileChange($event, 'purchaserSign')"
                            accept="image/*"
                            [(ngModel)]="addplotbookingreq.purchaserSign"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="authorizedSignatory" class="form-label"
                            >Authorized Signatory :</label
                          >
                          <input
                            type="file"
                            class="form-control"
                            id="authorizedSignatory"
                            name="authorizedSignatory"
                            (change)="
                              onFileChange($event, 'authorizedSignatory')
                            "
                            accept="image/*"
                            [(ngModel)]="addplotbookingreq.authorizedSignatory"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-xl-4">
                          <label for="directorName" class="form-label"
                            >Director Name :</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="directorName"
                            name="directorName"
                            [(ngModel)]="addplotbookingreq.directorName"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="directorSalesDate" class="form-label"
                            >Directory Sales Date :</label
                          >
                          <input
                            type="date"
                            class="form-control"
                            id="directorSalesDate"
                            name="directorSalesDate"
                            [(ngModel)]="addplotbookingreq.directorSalesDate"
                          />
                        </div>

                        <div class="col-xl-4">
                          <label for="directorSign" class="form-label"
                            >Directory Sign :</label
                          >
                          <input
                            type="file"
                            class="form-control"
                            id="directorSign"
                            name="directorSign"
                            (change)="onFileChange($event, 'directorSign')"
                            accept="image/*"
                            [(ngModel)]="addplotbookingreq.directorSign"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="document" role="tabpanel">
                      <div class="row">
                        <div class="col-xl-12">
                          <table class="table table-bordered table-responsive">
                            <thead>
                              <tr>
                                <th>S.No.</th>
                                <th>Document Name</th>
                                <th>Document Number</th>
                                <th>Upload Image (PDF / Image)</th>
                                <th>Image Preview</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td style="width: 50px">1</td>
                                <td>
                                  <b style="font-size: 14px">PAN Card Number</b>
                                </td>
                                <td style="width: 200px">
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="panCardNumber"
                                    name="panCardNumber"
                                    [(ngModel)]="
                                      addplotbookingreq.panCardNumber
                                    "
                                  />
                                  <small
                                    *ngIf="
                                      addplotbookingreq.panCardNumber &&
                                      !isValidPAN(
                                        addplotbookingreq.panCardNumber
                                      )
                                    "
                                    class="text-danger"
                                  >
                                    PAN format invalid (5 letters + 4 digits + 1
                                    letter)
                                  </small>
                                </td>
                                <td style="width: 200px">
                                  <input
                                    type="file"
                                    class="form-control"
                                    id="panCardImage"
                                    name="panCardImage"
                                    (change)="
                                      onFileChange($event, 'panCardImage')
                                    "
                                    accept=".pdf,image/*"
                                  />
                                </td>
                                <td style="width: 200px">
                                  <ng-container
                                    *ngIf="previews['panCardImage'] as pv"
                                  >
                                    <img
                                      *ngIf="pv.type === 'image'"
                                      [src]="pv.url"
                                      style="
                                        max-width: 120px;
                                        max-height: 80px;
                                        border: 1px solid #eee;
                                      "
                                    />
                                    <div *ngIf="pv.type === 'pdf'">
                                      <a [href]="pv.url" target="_blank"
                                        >Open PDF</a
                                      >
                                      <div style="margin-top: 4px">
                                        <embed
                                          [src]="pv.url"
                                          type="application/pdf"
                                          width="160"
                                          height="120"
                                        />
                                      </div>
                                    </div>
                                  </ng-container>
                                </td>
                              </tr>

                              <tr>
                                <td style="width: 50px">2</td>
                                <td>
                                  <b style="font-size: 14px"
                                    >Driving Licence Number</b
                                  >
                                </td>
                                <td style="width: 200px">
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="drivingLicenseNumber"
                                    name="drivingLicenseNumber"
                                    [(ngModel)]="
                                      addplotbookingreq.drivingLicenseNumber
                                    "
                                  />
                                </td>
                                <td style="width: 200px">
                                  <input
                                    type="file"
                                    class="form-control"
                                    id="drivingLicenseImage"
                                    name="drivingLicenseImage"
                                    (change)="
                                      onFileChange(
                                        $event,
                                        'drivingLicenseImage'
                                      )
                                    "
                                    accept=".pdf,image/*"
                                  />
                                </td>
                                <td style="width: 200px">
                                  <ng-container
                                    *ngIf="
                                      previews['drivingLicenseImage'] as pv
                                    "
                                  >
                                    <img
                                      *ngIf="pv.type === 'image'"
                                      [src]="pv.url"
                                      style="
                                        max-width: 120px;
                                        max-height: 80px;
                                        border: 1px solid #eee;
                                      "
                                    />
                                    <div *ngIf="pv.type === 'pdf'">
                                      <a [href]="pv.url" target="_blank"
                                        >Open PDF</a
                                      >
                                      <embed
                                        [src]="pv.url"
                                        type="application/pdf"
                                        width="160"
                                        height="120"
                                      />
                                    </div>
                                  </ng-container>
                                </td>
                              </tr>

                              <tr>
                                <td style="width: 50px">3</td>
                                <td>
                                  <b style="font-size: 14px">PassPort Number</b>
                                </td>
                                <td style="width: 200px">
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="passportNumber"
                                    name="passportNumber"
                                    [(ngModel)]="
                                      addplotbookingreq.passportNumber
                                    "
                                  />
                                </td>
                                <td style="width: 200px">
                                  <input
                                    type="file"
                                    class="form-control"
                                    id="passportImage"
                                    name="passportImage"
                                    (change)="
                                      onFileChange($event, 'passportImage')
                                    "
                                    accept=".pdf,image/*"
                                  />
                                </td>
                                <td style="width: 200px">
                                  <ng-container
                                    *ngIf="previews['passportImage'] as pv"
                                  >
                                    <img
                                      *ngIf="pv.type === 'image'"
                                      [src]="pv.url"
                                      style="
                                        max-width: 120px;
                                        max-height: 80px;
                                        border: 1px solid #eee;
                                      "
                                    />
                                    <div *ngIf="pv.type === 'pdf'">
                                      <a [href]="pv.url" target="_blank"
                                        >Open PDF</a
                                      >
                                      <embed
                                        [src]="pv.url"
                                        type="application/pdf"
                                        width="160"
                                        height="120"
                                      />
                                    </div>
                                  </ng-container>
                                </td>
                              </tr>

                              <tr>
                                <td style="width: 50px">4</td>
                                <td>
                                  <b style="font-size: 14px"
                                    >Voter Id Card Number</b
                                  >
                                </td>
                                <td style="width: 200px">
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="voterIdNumber"
                                    name="voterIdNumber"
                                    [(ngModel)]="
                                      addplotbookingreq.voterIdNumber
                                    "
                                  />
                                </td>
                                <td style="width: 200px">
                                  <input
                                    type="file"
                                    class="form-control"
                                    id="voterIdImage"
                                    name="voterIdImage"
                                    (change)="
                                      onFileChange($event, 'voterIdImage')
                                    "
                                    accept=".pdf,image/*"
                                  />
                                </td>
                                <td style="width: 200px">
                                  <ng-container
                                    *ngIf="previews['voterIdImage'] as pv"
                                  >
                                    <img
                                      *ngIf="pv.type === 'image'"
                                      [src]="pv.url"
                                      style="
                                        max-width: 120px;
                                        max-height: 80px;
                                        border: 1px solid #eee;
                                      "
                                    />
                                    <div *ngIf="pv.type === 'pdf'">
                                      <a [href]="pv.url" target="_blank"
                                        >Open PDF</a
                                      >
                                      <embed
                                        [src]="pv.url"
                                        type="application/pdf"
                                        width="160"
                                        height="120"
                                      />
                                    </div>
                                  </ng-container>
                                </td>
                              </tr>

                              <tr>
                                <td style="width: 50px">5</td>
                                <td>
                                  <b style="font-size: 14px"
                                    >Adhar Card Number</b
                                  >
                                </td>
                                <td style="width: 200px">
                                  <input
                                    (blur)="
                                      addplotbookingreq.aadhaarNumber &&
                                      !isValidAadhaar(
                                        addplotbookingreq.aadhaarNumber
                                      )
                                        ? 76777
                                        : null
                                    "
                                    type="number"
                                    class="form-control"
                                    id="aadhaarNumber"
                                    name="aadhaarNumber"
                                    (input)="onAadhaarInput($event)"
                                    [(ngModel)]="
                                      addplotbookingreq.aadhaarNumber
                                    "
                                  />

                                  <small
                                    *ngIf="
                                      addplotbookingreq.aadhaarNumber &&
                                      !isValidAadhaar(
                                        addplotbookingreq.aadhaarNumber
                                      )
                                    "
                                    class="text-danger"
                                  >
                                    Aadhaar must be 12 digits
                                  </small>
                                </td>
                                <td style="width: 200px">
                                  <input
                                    type="file"
                                    class="form-control"
                                    id="aadhaarImage"
                                    name="aadhaarImage"
                                    (change)="
                                      onFileChange($event, 'aadhaarImage')
                                    "
                                    accept=".pdf,image/*"
                                  />
                                </td>
                                <td style="width: 200px">
                                  <ng-container
                                    *ngIf="previews['aadhaarImage'] as pv"
                                  >
                                    <img
                                      *ngIf="pv.type === 'image'"
                                      [src]="pv.url"
                                      style="
                                        max-width: 120px;
                                        max-height: 80px;
                                        border: 1px solid #eee;
                                      "
                                    />
                                    <div *ngIf="pv.type === 'pdf'">
                                      <a [href]="pv.url" target="_blank"
                                        >Open PDF</a
                                      >
                                      <embed
                                        [src]="pv.url"
                                        type="application/pdf"
                                        width="160"
                                        height="120"
                                      />
                                    </div>
                                  </ng-container>
                                </td>
                              </tr>

                              <tr>
                                <td style="width: 50px">6</td>
                                <td>
                                  <b style="font-size: 14px"
                                    >Ration Card Number</b
                                  >
                                </td>
                                <td style="width: 200px">
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="rationCardNumber"
                                    name="rationCardNumber"
                                    [(ngModel)]="
                                      addplotbookingreq.rationCardNumber
                                    "
                                  />
                                </td>
                                <td style="width: 200px">
                                  <input
                                    type="file"
                                    class="form-control"
                                    id="rationCardImage"
                                    name="rationCardImage"
                                    (change)="
                                      onFileChange($event, 'rationCardImage')
                                    "
                                    accept=".pdf,image/*"
                                  />
                                </td>
                                <td style="width: 200px">
                                  <ng-container
                                    *ngIf="previews['rationCardImage'] as pv"
                                  >
                                    <img
                                      *ngIf="pv.type === 'image'"
                                      [src]="pv.url"
                                      style="
                                        max-width: 120px;
                                        max-height: 80px;
                                        border: 1px solid #eee;
                                      "
                                    />
                                    <div *ngIf="pv.type === 'pdf'">
                                      <a [href]="pv.url" target="_blank"
                                        >Open PDF</a
                                      >
                                      <embed
                                        [src]="pv.url"
                                        type="application/pdf"
                                        width="160"
                                        height="120"
                                      />
                                    </div>
                                  </ng-container>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-end">
              <button
                type="submit"
                [disabled]="loading"
                class="btn btn-success m-1"
              >
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm me-2"
                ></span>
                Submit
                <i
                  class="ri-file-pdf-line ms-1 align-middle d-inline-block"
                ></i>
              </button>
              <button
                type="button"
                class="btn btn-warning m-1"
                [routerLink]="['/plot']"
              >
                Cancel<i class="ri-cancel-2-line ms-1 d-inline-block"></i>
              </button>
            </div>
          </form>
        </div>
        <!--End::row-1 -->
      </div>
    </div>
  </div>
</div>
<!-- Flat Picker JS -->
<app-footer></app-footer>
