<app-navbar></app-navbar>
<div class="main-content app-content">
  <div class="">
    <!-- Start::row-1 -->
    <div class="row">
      <div class="col-xl-12">
        <div class="card custom-card">
          <div class="card-header">
            <div class="card-title">Create Plot</div>
          </div>
          <form (ngSubmit)="onSubmit()" #plotForm="ngForm">
            <div class="card-body">
              <div class="row gy-3">
                <div class="col-xl-4">
                  <label for="plotCode" class="form-label">Plot Code :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="plotCode"
                    name="plotCode"
                    [(ngModel)]="addplot.plotCode"
                    disabled
                  />
                </div>
                <div class="col-xl-4">
                  <label for="plotName" class="form-label">Plot Name :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="plotName"
                    name="plotName"
                    [(ngModel)]="addplot.plotName"
                    placeholder="Plot Name"
                  />
                </div>
                <div class="col-xl-4">
                  <label for="plotType" class="form-label">Plot Type :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="plotType"
                    name="plotType"
                    [(ngModel)]="addplot.plotType"
                    placeholder="Enter Plot Type"
                  />
                </div>
                <div class="col-xl-12">
                  <label for="description" class="form-label">
                    Description :</label
                  >
                  <textarea
                    class="form-control"
                    rows="3"
                    placeholder="Enter Description"
                    id="description"
                    name="description"
                    [(ngModel)]="addplot.description"
                    style="margin: 0"
                  >
                  </textarea>
                </div>

                <div class="col-xl-4">
                  <label for="locationId" class="form-label">
                    Location :
                  </label>

                  <select
                    class="form-control"
                    id="locationId"
                    placeholder="Enter Location"
                    name="locationId"
                    [(ngModel)]="addplot.locationId"
                  >
                    <option *ngFor="let c of locationList" [value]="c.value">
                      {{ c.text }}
                    </option>
                  </select>
                </div>

                <div class="col-xl-4">
                  <label for="address" class="form-label">Address :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    name="Address"
                    placeholder="Address"
                    [(ngModel)]="addplot.address"
                  />
                </div>

                <div class="col-xl-4">
                  <label for="areaSize" class="form-label">Area Size :</label>
                  <input
                    type="number"
                    class="form-control"
                    id="areaSize"
                    name="areaSize"
                    placeholder="Enter Area Size"
                    [(ngModel)]="addplot.areaSize"
                  />
                </div>

                <div class="col-xl-4">
                  <label for="latitude" class="form-label">Latitude :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="latitude"
                    name="latitude"
                    placeholder="Enter Latitude"
                    [(ngModel)]="addplot.latitude"
                  />
                </div>

                <div class="col-xl-4">
                  <label for="longitude" class="form-label">Longtitude :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="longitude"
                    name="longitude"
                    placeholder="Enter Longtitude"
                    [(ngModel)]="addplot.longitude"
                  />
                </div>

                <div class="col-xl-4">
                  <label for="unitTypeId" class="form-label">
                    Unit Type :
                  </label>

                  <select
                    class="form-control"
                    id="unitTypeId"
                    name="unitTypeId"
                    placeholder="Enter Unit Type"
                    [(ngModel)]="addplot.unitTypeId"
                  >
                    <option *ngFor="let c of unittypeList" [value]="c.value">
                      {{ c.text }}
                    </option>
                  </select>
                </div>

                <div class="col-xl-4">
                  <label for="price" class="form-label">Price :</label>
                  <input
                    type="number"
                    class="form-control"
                    id="price"
                    name="price"
                    placeholder="Enter Price"
                    [(ngModel)]="addplot.price"
                  />
                </div>

                <div class="col-xl-4">
                  <label for="facing" class="form-label">Facing :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="facing"
                    name="facing"
                    placeholder="Enter Facing"
                    [(ngModel)]="addplot.facing"
                  />
                </div>

                <div class="col-xl-4">
                  <label for="nearbyLandmarks" class="form-label"
                    >LandMark :</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="nearbyLandmarks"
                    name="nearbyLandmarks"
                    placeholder="Enter Landmark"
                    [(ngModel)]="addplot.nearbyLandmarks"
                  />
                </div>

                <div class="col-xl-4">
                  <label for="remarks" class="form-label">Remarks :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="remarks"
                    name="remarks"
                    placeholder="Enter Remarks"
                    [(ngModel)]="addplot.remarks"
                  />
                </div>

                <div class="col-xl-4">
                  <label class="form-label">Attachments</label>
                  <input
                    type="file"
                    style="height: 38px"
                    class="form-control"
                    name="filepond"
                    (change)="onFileSelected($event)"
                    multiple
                  />
                </div>

                <div class="col-xl-12" style="display: inline-flex">
                  <div *ngFor="let img of imagePreviews">
                    <img
                      [src]="img"
                      alt="Preview"
                      width="100"
                      height="100"
                      style="margin: 5px; border-radius: 8px"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-end">
              <button
                type="submit"
                [disabled]="loading"
                class="btn btn-success m-1"
              >
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm me-2"
                ></span>
                Submit
                <i
                  class="ri-file-pdf-line ms-1 align-middle d-inline-block"
                ></i>
              </button>
              <button
                type="button"
                class="btn btn-warning m-1"
                [routerLink]="['/plot']"
              >
                Cancel<i class="ri-cancel-2-line ms-1 d-inline-block"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--End::row-1 -->
  </div>
</div>

<!-- Flat Picker JS -->
<app-footer></app-footer>
