<app-navbar></app-navbar>

<div class="main-content app-content">
  <div *ngIf="fullpageloader" class="full-page-loader">
    <div class="loader-spinner"></div>
  </div>
  <div class="">
    <!-- Start::page-header -->
    <div class="row">
      <div class="col-xl-12">
        <div class="card custom-card">
          <div class="card-header justify-content-between">
            <div *ngIf="selectedChips.length > 0">
              <span
                class="badge bg-primary"
                style="margin-left: 1px"
                *ngFor="let chip of selectedChips"
              >
                {{ chip.label }}
                <button
                  type="button"
                  class="btn-close btn-close-white btn-sm ms-2"
                  aria-label="Remove"
                  (click)="removeChip(chip.key)"
                ></button>
              </span>
            </div>

            <div
              class="d-flex flex-wrap justify-content-end"
              style="width: 100%"
            >
              <button
                type="button"
                class="btn btn-outline-primary"
                data-bs-toggle="offcanvas"
                data-bs-target="#filtercanvas"
                aria-controls="filtercanvas"
                style="margin-right: 1%"
                ngClass=""
              >
                <i class="bi bi-funnel"></i> Filters
              </button>

              <a
                [routerLink]="['/create-plot']"
                class="btn btn-sm btn-primary btn-wave waves-light waves-effect waves-light"
                ><i class="ri-add-line fw-medium align-middle me-1"></i> Create
                Plot</a
              >
            </div>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table text-nowrap">
                <thead>
                  <tr>
                    <th scope="col">S.No.</th>
                    <th hidden scope="col">Plot Code</th>
                    <th scope="col">Plot Code</th>
                    <th scope="col">Sub Plot Code</th>
                    <th scope="col">Plot Name</th>
                    <th scope="col">Plot Type</th>
                    <th scope="col">Location</th>
                    <th scope="col">Area</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="invoice-list"
                    *ngFor="let item of plotlist; index as i"
                  >
                    <td class="text-primary">#{{ i + 1 }}</td>
                    <td hidden>{{ item.plotCode }}</td>
                    <td>{{ item.plot_Code }}</td>
                    <td>{{ item.subPlotCode }}</td>
                    <td>{{ item.plotName }}</td>
                    <td>{{ item.plotType }}</td>
                    <td>{{ item.locationName }}</td>
                    <td>{{ item.areaSize }} {{ item.unitTypeName }}</td>
                    <td>{{ item.price | currency: "INR" : "symbol" }}</td>
                    <td>
                      <span>
                        <a
                          class="btn btn-success-light btn-icon ms-1 btn-sm invoice-btn"
                          [routerLink]="['/create-plot', item.plotGuid]"
                        >
                          <i class="ri-edit-line"></i>
                        </a>

                        <a
                          class="modal-effect btn btn-danger-light btn-icon ms-1 btn-sm invoice-btn"
                          (click)="ChangePlotStatus(item.plotId)"
                          data-bs-effect="effect-rotate-left"
                          data-bs-toggle="modal"
                          href="#plotstatusModal"
                          title="Change Plot Status"
                        >
                          <i class="ri-circle-fill"></i>
                        </a>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <app-pagination
            [totalItems]="totalRecords"
            [pageSize]="pageSize"
            [currentPage]="currentPage"
            (pageChange)="onPageChange($event)"
            (pageSizeChange)="onPageSizeChange($event)"
          >
          </app-pagination>
        </div>
      </div>
    </div>
    <!--End::row-1 -->
  </div>
</div>

<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="filtercanvas"
  aria-labelledby="filtercanvasLabel"
>
  <div class="offcanvas-header border-bottom border-block-end-dashed">
    <h5 class="offcanvas-title" id="filtercanvasLabel">Filters</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <form class="row">
      <div class="col-md-12">
        <label class="form-label fw-bold">Plot Code</label>
        <input
          class="form-control"
          [(ngModel)]="filters.plot_Code"
          name="plot_Code"
          placeholder="Search by Plot Code"
        />
      </div>

      <div class="col-md-12">
        <label class="form-label fw-bold">Sub Plot Code</label>
        <input
          class="form-control"
          [(ngModel)]="filters.subPlotCode"
          name="subPlotCode"
          placeholder="Search by Sub Plot Code"
        />
      </div>
      <div class="col-md-12">
        <label class="form-label fw-bold">Plot Name</label>
        <input
          class="form-control"
          [(ngModel)]="filters.plotName"
          name="plotName"
          placeholder="Search by Plot Name"
        />
      </div>

      <div class="col-md-12">
        <label class="form-label fw-bold">Plot Type</label>
        <select
          name="plotType"
          class="form-control"
          [(ngModel)]="filters.plotType"
        >
          <option value="1" selected>Select Plot Type</option>
          <option value="Residential Plot">Residential Plot</option>
          <option value="Commercial Plot">Commercial Plot</option>
          <option value="Industrial Plot">Industrial Plot</option>
          <option value="North-Facing Plot">North-Facing Plot</option>
        </select>
      </div>

      <div class="col-md-12">
        <label class="form-label fw-bold">Location</label>
        <select
          class="form-select"
          [(ngModel)]="filters.locationId"
          name="locationId"
        >
          <option *ngFor="let m of this.locationList" [value]="m.value">
            {{ m.text }}
          </option>
        </select>
      </div>

      <div class="col-md-12" style="margin-top: 2%; text-align: end">
        <button
          type="button"
          class="btn btn-primary"
          (click)="applyFilters()"
          data-bs-dismiss="offcanvas"
        >
          Apply Filters
        </button>
      </div>
    </form>
  </div>
</div>

<div
  class="modal fade"
  id="plotstatusModal"
  tabindex="-1"
  aria-labelledby="changestatusModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changestatusModalLabel">
          Change Plot Status
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <label class="form-label fw-bold">Select Plot Status</label>
        <select
          class="form-select"
          name="plotStatus"
          [(ngModel)]="changeplotstatus.PlotStatus"
          required
        >
          <option *ngFor="let s of plotStatusOptions" [value]="s.value">
            {{ s.text }}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="ChangeStatus()">
          Submit
        </button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Button -->

<!-- End::app-content -->
<app-footer></app-footer>
