<footer class="pc-footer">
  <div class="footer-wrapper container-fluid mx-10">
    <div class="grid grid-cols-12 gap-1.5">
      <div class="col-span-12 md:col-span-6 my-1">
        <p class="m-0">
          <a
            class="text-theme-bodycolor dark:text-themedark-bodycolor hover:text-primary-500 dark:hover:text-primary-500"
            target="_blank"
            >Thank you</a
          >
          2025 &copy; All rights reserved by
        </p>
      </div>
      <div class="col-span-12 md:col-span-6 my-1"></div>
    </div>
  </div>
</footer>
