<body class="authentication-background">
  <div class="authentication-basic-background">
    <img src="assets/images/media/backgrounds/9.png" alt="" />
  </div>

  <div class="container">
    <div
      class="row justify-content-center align-items-center authentication authentication-basic h-100"
    >
      <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-6 col-sm-8 col-12">
        <div class="card custom-card border-0 my-4">
          <div class="card-body p-5">
            <div class="">
              <a href="javascript:void(0);">
                <img
                  style="margin-left: 8rem; width: 147px; height: unset"
                  src="assets/images/brand-logos/desktop-logo.jpeg"
                  alt="logo"
                  class="desktop-dark"
                />
              </a>
            </div>
            <div>
              <h4 class="mb-1 fw-semibold">Hi,Welcome back!</h4>
              <p class="mb-4 text-muted fw-normal">
                Please enter your credentials
              </p>
            </div>

            <form (ngSubmit)="onLogin()">
              <div class="row gy-3">
                <div class="col-xl-12">
                  <label for="signin-email" class="form-label text-default"
                    >User Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter User Name"
                    [(ngModel)]="username"
                  />
                </div>
                <div class="col-xl-12 mb-2">
                  <label
                    for="signin-password"
                    class="form-label text-default d-block"
                    >Password</label
                  >
                  <div class="position-relative">
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      placeholder="Enter Password"
                      [(ngModel)]="password"
                      name="password"
                    />
                  </div>
                </div>
              </div>
              <div class="d-grid mt-3">
                <button
                  class="btn btn-primary w-100 mb-3"
                  type="submit"
                  [disabled]="loading"
                >
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm me-2"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  {{ loading ? "Signing In..." : "Sign In" }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
