<app-navbar></app-navbar>

<div class="main-content app-content">
  <div *ngIf="fullpageloader" class="full-page-loader">
    <div class="loader-spinner"></div>
  </div>
  <div class="">
    <!-- Start::page-header -->
    <div class="row">
      <div class="col-xl-12">
        <div class="card custom-card">
          <div class="card-header justify-content-between">
            <div class="card-title">Outgoing Payment</div>
            <div class="d-flex">
              <a
                [routerLink]="['/create-outgoing-payment']"
                class="btn btn-sm btn-primary btn-wave waves-light waves-effect waves-light"
                ><i class="ri-add-line fw-medium align-middle me-1"></i> Create
                Outgoing Payment</a
              >
            </div>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table text-nowrap">
                <thead>
                  <tr>
                    <th scope="col">S.No.</th>
                    <th scope="col">Expense</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Admin Approver</th>
                    <th scope="col" *ngIf="issuperadmin == true">
                      Super Admin Approver
                    </th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="invoice-list"
                    *ngFor="let item of outgoingpaymentlist; index as i"
                  >
                    <td class="text-primary">#{{ i + 1 }}</td>
                    <td>{{ item.expenseCategoryName }}</td>
                    <td>{{ item.paymentMode }}</td>
                    <td>{{ item.amount | currency : "INR" : "symbol" }}</td>
                    <td>{{ item.expenseDate | date : "dd-MM-yyyy" }}</td>
                    <td *ngIf="issuperadmin == true || issuperadmin == false">
                      <span
                        ><a>
                          <div
                            class="align-items-center gap-3 position-relative"
                          >
                            <div>
                              <span
                                class="d-block fw-semibold"
                                *ngIf="item.approveStatus != 0"
                              >
                                {{ item.adminName }}

                                <span
                                  class="badge"
                                  [ngClass]="
                                    item.approveStatus === 1
                                      ? 'bg-success'
                                      : 'bg-danger-transparent'
                                  "
                                  >{{ item.adminApprover }}</span
                                ></span
                              >
                              <span
                                class="text-muted fs-13"
                                *ngIf="item.approveStatus != 0"
                                >{{ item.adminApproveDate }}</span
                              >

                              <span *ngIf="item.approveStatus == 0"
                                ><span
                                  (click)="
                                    openapprovalmodel(item.oPaymentGuid, 1)
                                  "
                                  class="modal-effect badge bg-warning-transparent"
                                  data-bs-effect="effect-rotate-left"
                                  data-bs-toggle="modal"
                                  href="#approvalModal"
                                  style="cursor: pointer"
                                  >Pending</span
                                ></span
                              >
                            </div>
                          </div>
                        </a></span
                      >
                    </td>

                    <td *ngIf="issuperadmin == true">
                      <span
                        ><a>
                          <div
                            class="d-flex align-items-center gap-3 position-relative"
                          >
                            <div>
                              <span
                                class="d-block fw-semibold"
                                *ngIf="item.approveStatusF != 0"
                                >{{ item.superAdminName
                                }}<span
                                  class="badge"
                                  style="margin-left: 2%"
                                  [ngClass]="
                                    item.approveStatusF === 1
                                      ? 'bg-success'
                                      : 'bg-danger-transparent'
                                  "
                                  >{{ item.superAdminApprover }}</span
                                ></span
                              >
                              <span
                                class="text-muted fs-13"
                                *ngIf="item.approveStatusF != 0"
                                >{{ item.superAdminApproveDate }}</span
                              >

                              <span *ngIf="item.approveStatusF == 0"
                                ><span
                                  (click)="
                                    openapprovalmodel(item.oPaymentGuid, 1)
                                  "
                                  class="modal-effect badge bg-warning-transparent"
                                  data-bs-effect="effect-rotate-left"
                                  data-bs-toggle="modal"
                                  href="#approvalModal"
                                  style="cursor: pointer"
                                  >Pending</span
                                ></span
                              >
                            </div>
                          </div>
                        </a></span
                      >
                    </td>

                    <td>
                      <span
                        *ngIf="
                          item.approveStatus == 0 && item.approveStatusF == 0
                        "
                      >
                        <a
                          class="btn btn-danger-light btn-icon ms-1 btn-sm invoice-btn"
                          [routerLink]="[
                            '/create-outgoing-payment',
                            item.oPaymentGuid
                          ]"
                        >
                          <i class="ri-edit-line"></i>
                        </a>
                      </span>

                      <span
                        *ngIf="
                          item.approveStatus != 0 || item.approveStatusF != 0
                        "
                      >
                        <a
                          class="btn btn-danger-light btn-icon ms-1 btn-sm invoice-btn"
                          [routerLink]="[
                            '/create-outgoing-payment',
                            item.oPaymentGuid
                          ]"
                        >
                          <i class="ri-eye-line"></i>
                        </a>
                      </span>

                      <span
                        *ngIf="
                          item.approveStatus == 0 && item.approveStatusF == 0
                        "
                      >
                        <a
                          class="modal-effect btn btn-danger-light btn-icon ms-1 btn-sm invoice-btn"
                          (click)="openCancelModel(item.oPaymentGuid)"
                          data-bs-effect="effect-rotate-left"
                          data-bs-toggle="modal"
                          href="#cancelModal"
                        >
                          <i class="ri-close-line"></i>
                        </a>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <app-pagination
            [totalItems]="totalRecords"
            [pageSize]="pageSize"
            [currentPage]="currentPage"
            (pageChange)="onPageChange($event)"
            (pageSizeChange)="onPageSizeChange($event)"
          >
          </app-pagination>
        </div>
      </div>
    </div>
    <!--End::row-1 -->
  </div>
</div>

<div class="modal fade" id="approvalModal">
  <div class="modal-dialog modal-dialog-centered text-center" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">{{ approvaltitlechanged }}</h6>
        <button
          aria-label="Close"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body text-start">
        <div class="mb-3">
          <label for="approveStatus" class="form-label">Status</label>
          <select
            class="form-control"
            name="approveStatus"
            id="approveStatus"
            required
            [(ngModel)]="approveoutgoignpayment.approveStatus"
          >
            <option value="0">Select</option>
            <option value="1">Approve</option>
            <option value="2">Reject</option>
          </select>

          <label for="message-text" class="col-form-label">Remark:</label>
          <textarea
            class="form-control"
            name="remarks"
            required
            placeholder="Enter Remarks"
            rows="6"
            [(ngModel)]="approveoutgoignpayment.approveRemarks"
          ></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary"
          type="button"
          (click)="outgoingpaymentapprove()"
          [disabled]="loading"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm me-2"
          ></span>
          Submit
        </button>
        <button class="btn btn-light" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="cancelModal"
  tabindex="-1"
  aria-labelledby="cancelModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelModalLabel">
          Cancel Outgoing Payment
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <textarea
          class="form-control"
          name="remarks"
          required
          placeholder="Enter Remarks"
          rows="6"
          [(ngModel)]="canceloutgoingpayment.remarks"
        ></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="CancelOrder()">
          Cancel
        </button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- End::app-content -->
<app-footer></app-footer>
